/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 2vh;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Code By Brian Below */


* {
    border: 1px solid tomato;
    /* margin: 5vh; */
    max-width: 100%;

}

html{
    font-size: 62.5%;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

/* ppp HEADER */

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.h1a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 6rem;
    text-align: center;
    margin-top: 1%;
}

header h1 span{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    margin-top: 2%;
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-size: 3rem;
    color: grey;
}

nav{ 
    display:flex;
    justify-content: center;
    width: 50%;
    margin-top: 1%; /*because * applied 2hv to all margin, the logo div and nav are 4vh away. To remedy this I can set the margin-top: of nav or margin-bottom: of div.logo to 0.*/
    /* flex-wrap: wrap; */
}

header{
    margin-top: 2%;
    width: 100%;
    position: fixed;
    background-color:rgba(245,245,245,0.85);
}

header nav a{
    text-decoration: none;
    padding: 1% 3%;
    font-size: 2.5rem;
    color: black;
    margin: 1rem 1rem;
    text-align: center;
}

header nav a:hover{
    color:white;
    background-color: rgba(111, 98, 168, 0.561);
    border-radius: 10px;
}

.home #home{
    background-color: tomato;
}

.contact header nav a.contact{
    background-color: tomato;
}

p {
    font-size:2rem;
    margin: 1%;
    padding: 1%;
}

/* ppp SECTION / MID */
section.body-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.intro-text {
    width: 65%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.intro-text p{
    margin: 0;
    /* padding: 0; */
}

section.body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-shrink: 2;
}

section div{
    margin: 2vh;
    height: 20rem;
    min-height: 100px;
    width: 20rem;
    min-width: 100px;
    align-items: space-between;
}

.container{
    height:65vh;
    background-image: url(https://picsum.photos/2079/200);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: auto;
}



div.display1 {
    background-image: url(https://picsum.photos/500/301);
}
.display2 {
    background-image: url(https://picsum.photos/500/302);
}
.display3 {
    background-image: url(https://picsum.photos/500/303);
}
.display4 {
    background-image: url(https://picsum.photos/500/304);
}
.display5 {
    background-image: url(https://picsum.photos/500/305);
}
.display6 {
    background-image: url(https://picsum.photos/500/306);
}


                            /*            */
                            /* ppp FOOTER */
                            /*            */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}
.cta{
    margin:0;
    padding:0;
}
    h3{
        margin:0;
        padding:0;
    
    }
    .cta{
        margin:0;
        padding:0;
    }
    .cta a{
        text-decoration: none;
        /* padding: 1% 3%; */
        font-size: 2.5rem;
        color: black;
        /* margin: 0rem 1rem; */
        text-align: center;    
    }
    .cta a:hover{
        color:white;
        background-color: rgba(111, 98, 168, 0.561);
        border-radius: 10px;
        padding: 1% 3%;    
    }
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5%;
    padding: 0;
    margin: 0;
}
.github{
    width: 50%;
    padding: 20%;
    margin-right: 5%;
    margin: 0;
    height: auto;
    background-image: url('gh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.linkedin{
    background-position: cover;
    width: 50%;
    padding: 20%;
    margin-left: 5%;
    margin: 0;
    height: auto;
    background-image: url('li.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

                            /*            */
                            /* ppp FOOTER */
                            /*            */









/* ppp Media */
@media (max-width: 800px){
    html{
        font-size: 45%;
    }
    header{
        position: absolute;
        display: flex;
        justify-content: center;
    }
    header nav{
        flex-direction: column;
        flex-grow: 1;
    }
    header nav a{
        margin: 1%;
    }
    nav {
        width: 40%;
    }

}


@media (max-width: 500px){
    header{
        position: absolute;
        display: flex;
        justify-content: center;
    }
    header nav{
        flex-direction: column;
        flex: 1;
    }
    header nav a {
        text-decoration: none;
        border-radius: 10px;
        font-size: 2.5rem;
        color: black;
        margin: 1vh 2vh;
        text-align: center;
        position: relative;
    }
    section.body{
        margin-top: 12%;
    }
    div.intro-text{
        margin-top: 6%;
    }
    h1{
        margin: 0%;
    }
    h3{
        font-size: 2rem;
        margin-bottom: 12%;
    }
    div.intro-text {
        width: 85%;
        height: auto;
    }
    footer.foot1{
        width: 100%;
    }
}