* {
    /* border: 1px solid tomato; */
    margin: .25vh;
}

html{
    font-size: 62.5%;
}

/* ppp HEADER */

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner {
    background: url(https://picsum.photos/2000/200);
    height: calc(100% - 2vh);
    min-height: 10vh;
    width: calc(100% - 2vw);
    padding: 20px;
}
h1{
    font-size: 6rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-size: 3rem;
    color: grey;
}

nav{ 
    display:flex;
    justify-content: center;
    margin-top: 1vh; /*because * applied 2hv to all margin, the logo div and nav are 4vh away. To remedy this I can set the margin-top: of nav or margin-bottom: of div.logo to 0.*/
    flex-wrap: wrap;
}

header nav a {
    text-decoration: none;
    padding: 1vh 3.5vh;
    border-radius: 10px;
    font-size: 2.5rem;
    color: black;
    margin: 2vh 1vh;
    text-align: center;
}

header nav a:hover{
    color:white;
    background-color: rgba(111, 98, 168, 0.561);
}



.home #home{
    background-color: tomato;
}

.contact header nav a.contact{
    background-color: tomato;
}







a.contact:hover{
    background-color: white;
    color: black;
}

p {
    font-size: 1.5rem;
    margin: 1vh;
    padding: 1vh;
}

.intro-text {
    max-width: 66%;
    text-align: center;
}


/* ppp SECTION / MID */
section.body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: 1px solid tomato; */
}

section div{
    margin: 2vh;
    height: 20rem;
    min-height: 100px;
    width: 20rem;
    min-width: 100px;
    /* border: 2px dashed red; */
    align-items: space-between;
    /* flex-grow: .5; */
}



div.display1 {
    background-image: url(https://picsum.photos/500/301);
}
.display2 {
    background-image: url(https://picsum.photos/500/302);
}
.display3 {
    background-image: url(https://picsum.photos/500/303);
}
.display4 {
    background-image: url(https://picsum.photos/500/304);
}
.display5 {
    background-image: url(https://picsum.photos/500/305);
}
.display6 {
    background-image: url(https://picsum.photos/500/306);
}



/* ppp FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer > *{
    margin: 0;
}

div.footerLinks {
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.contact-button{
    background-color: tomato;
    border-radius: 5px;
    font-size: 2rem;
    width: 10vw;
    margin: 1vw 2vw;
}

.github img{
    padding: 0;
    margin: 0;
}
.linkedin img{
    padding: 0;
    margin: 0;
    height: 32px;
    width: auto;
} /*work to be done, make this file smaller*/



/* ppp Media */
@media (max-width: 800px){
    button.contact-button {
    width: 100px;
}


@media (max-width: 600px){
    header nav{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 300px;
    }
    header nav a {
        text-decoration: none;
        padding: 1vh vh;
        border-radius: 10px;
        font-size: 2rem;
        color: black;
        margin:1vh 2vh;
        text-align: center;
    }
    
}